* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 68px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 42px 0px;
  text-align: center;
}

.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.myDiv {
  text-align: left;
  font-size: 20px;
  line-height: 150%;
}

.button1 {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 130px;
}

.buttonred {background-color: #FF6347; /* Tomato */}
.buttongreen {background-color: #2E8B57; /* Seagreen */}
.buttonblack {background-color: #A9A9A9; /* Darkgrey */}
.buttonblue {background-color: #5F9EA0; /* Cadetblue */}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
